
body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #000000, #4A1362);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-content {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  padding: 20px; /* Add padding to ensure content is not too close to edges */
}

.main-content p {
  padding: 20px;
  animation: glow 2s infinite alternate;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5),
              0 0 20px rgba(0, 255, 0, 0.5),
              0 0 20px rgba(0, 0, 255, 0.5);
  border: 3px solid silver;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5),
                0 0 30px rgba(0, 255, 0, 0.5),
                0 0 30px rgba(0, 0, 255, 0.5);
  }
  50%{
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.7),
                0 0 30px rgba(0, 255, 0, 0.7),
                0 0 30px rgba(0, 0, 255, 0.7);
  }
  100%{
    box-shadow: 0 0 30px rgba(255, 0, 0, 1),
                0 0 30px rgba(0, 255, 0, 1),
                0 0 30px rgba(0, 0, 255, 1);
  }
}
.services-container {
  background: linear-gradient(to bottom right, #000000, #4A1362); 
  padding: 20px; 
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  align-items: flex-start;
  justify-content: space-between ;
  padding: 20px;
}

.service {
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  padding: 10px;
  background-color: #16041e; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(225, 0, 225, 0.5);
}

.service h2 {
  margin-top: 0;
}

.service p {
  margin-bottom: 0;
}

.flex-container {
  position: relative;
  max-width: 100%;
}

.flex-container img {
  position: absolute;
  top: 0;
  max-width: 100%; 
  max-height: 100%; 
}

.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container img {
  display: block;
  max-width: 100%; 
  height: auto;
  margin: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.image-container img.strechable {
  max-width: 400px;
  height: auto;
}

.display-1,
.about_sect,
.services_sect {
  background: linear-gradient(45deg, #ff69b4, #c2ff8f);
  -webkit-background-clip: text;
  /* "-webkit" is a CSS command that was used in older types of browser to target specific properties */
  -webkit-text-fill-color: transparent;
  font-size: 65px;
}
.contact-section {
  padding: 80px 0;
}

.section-heading {
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 20px;
}

.navbar {
  background-color: #1f0829 !important;
  position: relative;
}

.navbar-toggler {
  z-index: 1010;
}

.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer .container {
  text-align: center;
}

.footer .text-muted {
  font-size: 14px;
}

/* Responsive styles for phones */
@media screen and (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #343a40;
    max-height: calc(100vh - 480px);
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
  }

  .navbar-collapse.collapsing {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #343a40;
  }

  .main-content {
    margin-top: 100px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    flex: 0 0 calc(45% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #16041e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(225, 0, 225, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service h2 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px; 
    text-align: center; 
  }

  .service p {
    font-size: 1em;
    margin-bottom: 0;
    text-align: center; 
  }

  .service img {
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
    margin-bottom: 10px; 
  }
}
  .image-container{
  flex: 0 0 calc(45% - 10px);
  margin: 5px;
  border-radius: 8px;
  }

  .image-container img {
    width: 45%;
    margin: 5px;
  }

  .footer {
    padding: 5px;
    position: absolute;
  }
